{% extends 'base.html' %}

{% load template_filters %}
{% load staticfiles%}

{% block title %}Travel View{% endblock %}

{% block imports %}
  <link href="{% static 'mdb_4.13/css/mdb.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/modal.css' %}" rel="stylesheet">
  <link href="{% static 'mdb_4.13/css/addons/datatables.min.css' %}" rel="stylesheet">
  <script src="{% static 'mdb_4.13/js/mdb.min.js' %}"></script>
  <script src="{% static 'mdb_4.13/js/addons/datatables.min.js' %}"></script>
  <script src="{% static 'js/travel_approval.js' %}"></script>
  {% if request.user|has_group:"F_MANAGER" %}
    <script> var url='/portal/travel/fmgr/change_status/'; </script>
  {% elif request.user|has_group:"MANAGER" %}
    <script> var url='/portal/travel/mgr/change_status/'; </script>
  {% else %}
    <meta http-equiv="REFRESH" content="0;url=/">
  {% endif %}
{% endblock %}

{% block content %}
  <div class='container'> 
    <table id='travel_table' class="table table-striped table-bordered table-sm dataTables_length" cellspacing="0" width="100%">
      <thead>
        <th scope="col">#</th>
        <th scope="col">Requestor</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Origin</th>
        <th scope="col">hotel</th>
        <th scope="col">With Airplane</th>
        <th scope="col">Airport Origin</th>
        <th scope="col">Airport Destination</th>
        <th scope="col">Back And Forth</th>
        <th scope="col">Taxi Fare</th>
        <th scope="col">Air Fare</th>
        <th scope="col">Status</th> 
        <th scope="col">-</th>
      </thead>
      <tbody>
        {% for row in travel_details %}
        <tr>
          <th scope="col">{{ row.pk }}</th>
          <td style ="word-break:break-all;">{{ row.name }}</td>
          <td style ="word-break:break-all;">{{ row.start_date }}</td>
          <td style ="word-break:break-all;">{{ row.end_date }}</td>
          <td style ="word-break:break-all;">{{ row.origin }}</td>
          <td style ="word-break:break-all;">{{ row.hotel }}</td>
          {% if row.plane_formula != '0' and row_plane_formula is not None %}
            <td style ="word-break:break-all;"><input type='checkbox' checked=True' disabled='True'></td>
          {% else %}
            <td style ="word-break:break-all;"><input type='checkbox' disabled='True'></td>
          {% endif %} 
          <td style ="word-break:break-all;">{{ row.airport_origin }}</td>
          <td style ="word-break:break-all;">{{ row.airport_dest }}</td>
          <td style ="word-break:break-all;"><input type='checkbox' checked='{{ row.back_and_forth }}' disabled='True'></td>
          <td style ="word-break:break-all;">{{ row.car_formula|compute }}</td> 
          {% if row.plane_formula != '0' and row_plane_formula is not None %}
            <td style ="word-break:break-all;">{{ row.plane_formula|compute }}</td> 
          {% else %}
            <td style ="word-break:break-all;">{{ row.plane_formula }}</td> 
          {% endif %} 
          <td style ="word-break:break-all;">{{ row.status }}</td>
          <td>
            <button type="button" class="btn btn-sm btn-primary" value='{{ row.pk }}'>ACCEPT</button>
            <button type="button" class="btn btn-sm btn-danger" value='{{ row.pk }}'>REJECT</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class='modal'>
    <div class='modal-content'>
      <div class='container'>
        <span id='close' style='text-align: right' class="close">&times;</span>
        <form action='' method='POST' name="approval">
          <div class="form-group row">
            <h1>Approval Form<h1>
          </div>
          <div class="form-group row">
            <label for='pk' class="col-sm-2 col-form-label">ID:</label>
            <div class="col-sm-10">
              <input type='text' class="form-control" id='pk' name="pk" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label for='status' class="col-sm-2 col-form-label">STATUS:</label>
            <div class="col-sm-10">
              <input type='text' class="form-control" id='status' name="status" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label for='reason' class="col-sm-2 col-form-label">REASON:</label>
            <div class="col-sm-10">
              <textarea id="approver_reason" name="approver_reason" class="form-control" rows="4" cols="50"></textarea>
            </div>
          </div>
          <div class="float-right form-group row" style='text-align: right'>
            <input type='SUBMIT' value='SUBMIT' class="btn btn-sm btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
